{% extends 'layouts/app.twig' %}

{% block content %}


<div class="container">
<div id="status"></div>
<div id="user_id" style="display: none">{{ user.id }}</div>
<div id="curr_chat" style="display: none"></div>
	<pre>
		{{ dump() }}
	</pre>
	<div class="row">
		<div class="col-12 ml-3 mr-5">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Chat / Messages</h6>
					<a href="#" class="more">
						<svg class="olymp-three-dots-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
						</svg>
					</a>
				</div>

				<div class="row">
					<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-r-0">	
						<ul class="notification-list chat-message">
							

							{% for friend in friends %}
								{% for chat in chats %}
									{% if (friend.from_request == chat.id_sob or friend.to_request == chat.id_sob) and (friend.status == 1) %}
							<li onclick="chat_field({{ chat.id }}, 1)" >
								<div class="author-thumb">
									<img src="/img/{{friend.profile.img}}" alt="author">
								</div>
								<div class="notification-event">
									<a  class="h6 notification-friend">{{ friend.profile.login }}</a>	
									<span id="last_mess{{ chat.id }}" class="chat-message-item">{{ chat.last_mess[0]['messadge']}}</span>
									<span class="notification-date"><time id="last_mess_date" class="entry-date updated" datetime="2004-07-24T18:18">{{ user.lastAction }}</time></span>
									<div align="center" class="label-avatar bg-purple mar">{{1}}</div>
								</div>
								<div class="more">
									<svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								</div>
							</li>	
									{% endif %}
								{% endfor %}
							{% endfor %}



						</ul>
					</div>
					<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-l-0">						
						<!-- Chat Field -->
						<div id="chat-field" class="chat-field">
						</div>
						<div id="input_mess" class="none">
							<form action="" name="messages">
								<div class="form-group label-floating is-empty">
									<label class="control-label">Write your reply here...</label>
									<textarea class="form-control" placeholder="" name="mess"></textarea>
								</div>
								<div class="none">
									<input id="mess_rumm" name="id_room" value=""></input>
								</div>
								<div>
									<button id="butt" class="btn btn-primary btn-sm">Send</button>
								</div>
							</form>
						</div>
						<!-- ... end Chat Field -->

					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<a class="back-to-top" href="#">
	<img src="/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>
{% endblock %}