{% extends 'layouts/app.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="/img/background_{{ random(1) + 1 }}.jpg" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 ">
                                <ul class="profile-menu">

                                    <li>
                                        <a href="/friends">Friends</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 ml-auto col-md-5">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="/photo">Photos</a>
                                    </li>


                                </ul>
                            </div>
                        </div>

                        <div class="control-block-button">

                            <div class="btn btn-control bg-primary more">
                                <svg class="olymp-settings-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="/photo/avatar">Update Profile Photo</a>
                                    </li>
                                    <li>
                                        <a href="{{ path_for('user.settings') }}">Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="/" class="author-thumb">
                            <img src="/img{{ user.img }}" alt="author">
                        </a>
                        <div class="author-content">
                            <a href="/" class="h4 author-name">{{user.login}}</a>
                            <div class="country">{{ user.location }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-2">
        <h4>Your current rating is: {{ rating }} <i class="fa fa-star" style="color: #f5c310;"></i></h4>
    </div>

    {% if info %}
        <h5 class="mt-2">Some suggestions to increase your rating</h5>
        {% for msg in info %}
            <div class="alert alert-info">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        {% if profile_suggestions %}
        <div class="col-12">
            <h5 class="text-center">Profile sugestions</h5>
            <hr>
        </div>
            {% for profile in profile_suggestions %}
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="ui-block" data-mh="friend-groups-item">
                        <div class="friend-item friend-groups">
                            <div class="friend-item-content">
                                <div class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                    <ul class="more-dropdown">
                                        {% if user.admin %}
                                            <li>
                                                <a href="#" data-type="block" data-id="{{ profile.id_user }}">Block Profile</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="#" data-type="report" data-id="{{ profile.id_user }}">Report Profile</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="friend-avatar">
                                    <div class="author-thumb">
                                        <img src="img{{ profile.img }}">
                                    </div>
                                    <div class="author-content">
                                        <a href="/profile/{{ profile.id_user }}"
                                           class="h5 author-name">{{ profile.login }}</a>
                                        <div class="country">{{ profile.status }}</div>
                                        <div class="country">age: {{ profile.age }}</div>
                                        <div class="country">rating: {{ profile.rating }} <i class="fa fa-star" style="color: #f5c310;"></i></div>
                                    </div>
                                </div>

                                <div class="control-block-button">
                                    <a data-type="add" data-id="{{ profile.id_user }}"
                                       title="Send request" href="#" class="btn btn-control bg-green friend"
                                       data-toggle="modal" data-target="#create-friend-group-add-friends">
                                        <svg class="olymp-happy-faces-icon">
                                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
                                        </svg>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}

    </div>
    
</div>

{% if not user.lat_lng %}
    <script src="/js/get_location.js"></script>
{% endif %}
<script src="/js/friend.js"></script>
<script src="/js/block_user.js"></script>

{% endblock %}
