{% extends 'layouts/app.twig' %}

{% block content %}

<!-- Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="/img/background_{{ random(1) + 1 }}.jpg" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 ">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="02-ProfilePage.html" class="active">Timeline</a>
                                    </li>
                                    <li>
                                        <a href="05-ProfilePage-About.html">About</a>
                                    </li>
                                    <li>
                                        <a href="06-ProfilePage.html">Friends</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 ml-auto col-md-5">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="07-ProfilePage-Photos.html">Photos</a>
                                    </li>
                                    <li>
                                        <a href="09-ProfilePage-Videos.html">Videos</a>
                                    </li>
                                    <li>
                                        <div class="more">
                                            <svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                            <ul class="more-dropdown more-with-triangle">
                                                <li>
                                                    <a href="#">Report Profile</a>
                                                </li>
                                                <li>
                                                    <a href="#">Block Profile</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="control-block-button" >
                            {% if profile.friendship and profile.friendship.status %}
                                <a data-type="remove_friend" data-id="{{ profile.id }}" title="Remove friend" href="#" class="friend btn btn-control bg-red">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                                <a title="Send message" href="#" data-id="{{ profile.id }}" class="btn btn-control bg-purple">
                                    <svg title="Send message" class="olymp-chat---messages-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if profile.friendship and profile.friendship.status == 0 and profile.friendship.from_request == user.id %}
                                <a data-type="remove_request" data-id="{{ profile.id }}" title="Remove friend request" href="#" class="friend btn btn-control bg-orange">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if profile.friendship and profile.friendship.status == 0 and profile.friendship.to_request == user.id %}
                                <a data-type="accept" data-id="{{ profile.id }}" title="Accept friend request" href="#" class="friend btn btn-control bg-blue">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                                 <a data-type="remove_request" data-id="{{ profile.id }}" title="Delete friend request" href="#" class="friend btn btn-control request-del">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if not profile.friendship %}
                                <a data-type="add" data-id="{{ profile.id }}" data-noimg="{{ user.no_img }}" title="Add to friend" href="#" class="friend btn btn-control bg-green">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}
                                

                            

                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="02-ProfilePage.html" class="author-thumb">
                            <img src="/img{{ profile.img }}">
                        </a>
                        <div class="author-content">
                            <a href="/" class="h4 author-name">{{profile.login}}</a>
                            <div class="country">{{ profile.location }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->

<div class="container">
    args:<br>
    <pre>
        {#{{ users }}#}
    </pre>

    <h3>dump:</h3><br>
    <pre>
        {{ dump() }}
    </pre>
</div>
<script src="/js/friend.js"></script>
{% endblock %}