{% extends 'layouts/app.twig' %}

{% block content %}

<!-- Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="/img/background_{{ random(1) + 1 }}.jpg" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 ">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="/profile/{{ profile.id }}/friends">Friends</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 ml-auto col-md-5">
                                <ul class="profile-menu">
                                    <li>
                                        <a href="/profile/{{ profile.id }}/photos">Photos</a>
                                    </li>

                                    <li>
                                        <div class="more">
                                            <svg class="olymp-three-dots-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                            <ul class="more-dropdown more-with-triangle">
                                                {% if user.admin %}
                                                    <li>
                                                        <a href="#" data-type="block" data-id="{{ profile.id }}">Block Profile</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="#" data-type="report" data-id="{{ profile.id }}">Report Profile</a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="control-block-button" >
                            {% if profile.friendship and profile.friendship.status %}
                                <a data-type="remove_friend" data-id="{{ profile.id }}" title="Remove friend" href="#" class="friend btn btn-control bg-red">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                                <a title="Send message" href="#" data-id="{{ profile.id }}" class="btn btn-control bg-purple">
                                    <svg title="Send message" class="olymp-chat---messages-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if profile.friendship and profile.friendship.status == 0 and profile.friendship.from_request == user.id %}
                                <a data-type="remove_request" data-id="{{ profile.id }}" title="Remove friend request" href="#" class="friend btn btn-control bg-orange">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if profile.friendship and profile.friendship.status == 0 and profile.friendship.to_request == user.id %}
                                <a data-type="accept" data-id="{{ profile.id }}" title="Accept friend request" href="#" class="friend btn btn-control bg-blue">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                                 <a data-type="remove_request" data-id="{{ profile.id }}" title="Delete friend request" href="#" class="friend btn btn-control request-del">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}

                            {% if not profile.friendship %}
                                <a data-type="add" data-id="{{ profile.id }}" data-noimg="{{ user.no_img }}" title="Add to friend" href="#" class="friend btn btn-control bg-green">
                                    <svg title="" class="olymp-happy-face-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}
                                

                            

                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="02-ProfilePage.html" class="author-thumb">
                            <img src="/img{{ profile.img }}">
                        </a>
                        <div class="author-content">
                            <a href="/" class="h4 author-name">{{profile.login}}</a>
                            <div class="country">{{ profile.location }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 <div class="container p-3">
    <div class="ml-2">
        <div class="row">
            <div class="col-2">
                <h5>Rating:</h5> 
            </div>
            <div class="col-10">
                {{profile.rating}} <i class="fa fa-star" style="color: #f5c310;"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Status: </h5>
            </div>
            <div class="col-10">
                {{profile.status}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Full Name: </h5>
            </div>
            <div class="col-10">
                {{profile.firstName}} {{profile.lastName}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
               <h5> Gender:</h5>
            </div>
            <div class="col-10">
                 {{profile.gender}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Birthday: </h5>
            </div>
            <div class="col-10">
                {{profile.birthDate}}
            </div>
        </div>



        <div class="row">
            <div class="col-2">
                <h5>Sexual preferences: </h5>
            </div>
            <div class="col-10">
                {{profile.details.sexual_preferences}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Facebook page: </h5>
            </div>
            <div class="col-10">
                {{profile.detail.fb_page}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Twitter page: </h5>
            </div>
            <div class="col-10">
                {{profile.details.twitter_page}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Description: </h5>
            </div>
            <div class="col-10">
                {{profile.details.description}}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h5>Tags: </h5>
            </div>
            <div class="col-10">
                {% for tag in profile.tags %}
                    <button class="btn btn-primary">#{{ tag.tag }}</button>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="col-2">
                <h5>Location: </h5>
            </div>
            <div class="col-10">
                <div class="google-maps">
                    <div id="lat" class="d-none">{{ profile.lat_lng.lat }}</div>
                    <div id="lng" class="d-none">{{ profile.lat_lng.lng }}</div>
                    <div id="map_edit" class="map edit-map" style="min-height: 15rem;"></div>
                </div>
                
            </div>
        </div>

    </div>
</div> 
<script src="/js/friend.js"></script>
<script src="/js/block_user.js"></script>
<script src="/js/gmaps.js"></script>
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqLNucodvPuxX_30MWoh6g1YT6hWnvzS4&callback=init_Map"
            type="text/javascript"></script>
{% endblock %}