{% extends 'layouts/app.twig' %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="settings col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
				<div class="ui-block hobbies_interests" style="display: none">
					<div class="ui-block-title">
						<h6 class="title">Your hobbies and interests</h6>
					</div>

					<div class="ui-block-content">
						<form id="form_add_tag">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label">Your New tag</label>
										<input name="new_tag" class="form-control" placeholder="" type="text">
									</div>
								</div>
								
								<div class="col-12 col-md-2">
									<button type="button" class="btn btn-primary btn-lg full-width">Add</button>
								</div>

							</div>
						</form>

						<div class="row" id="tag_list">

							{% if user.tags %}
							{% for tag in user.tags %}
								<button type="button" class="ml-1 mr-1 btn btn-secondary" data-id="{{ tag.id_tag }}">
									{{tag.tag}}
								</button>
							{% endfor %}
							{% else %}
								<div class="col-12 mb-3 text-center"> Your tag list is empty</div>
							{% endif %}
							
						</div>

							

					</div>
				</div>

				<div class="ui-block change_password" style="display: none;">
					<div class="ui-block-title">
						<h6 class="title">Change Password</h6>
					</div>


					<div class="ui-block-content">


						<!-- Change Password Form -->

						<form id="form_change_password">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group label-floating">
										<label class="control-label">Confirm Current Password</label>
										<input name="current" class="form-control" placeholder="" type="password"
											   value="">
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label">Your New Password</label>
										<input name="new_psw" class="form-control" placeholder="" type="password">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group label-floating is-empty">
										<label class="control-label">Confirm New Password</label>
										<input name="confirm" class="form-control" placeholder="" type="password">
									</div>
								</div>

								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<button type="button" class="btn btn-primary btn-lg full-width">Change Password
										Now!
									</button>
								</div>

							</div>
						</form>

						<!-- ... end Change Password Form -->
					</div>
				</div>

				<div class="ui-block personal_information">
					<div class="ui-block-title">
						<h6 class="title">Personal Information</h6>
					</div>
					<div class="ui-block-content">


						<!-- Personal Information Form  -->

						<form id="personal_information_form">
							<div class="row">

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group label-floating">
										<label class="control-label">First Name</label>
										<input name="firstName" class="form-control" placeholder="" type="text"
											   value="{{ user.firstName }}">
									</div>

									<div class="form-group label-floating">
										<label class="control-label">Your Email</label>
										<input name="email" class="form-control" placeholder="" type="email"
											   value="{{ user.email }}">
									</div>

									<div class="form-group date-time-picker label-floating">
										<label class="control-label">Your Birthday</label>
										<input name="datetimepicker" value="{{ user.birthDate }}"/>
										<span class="material-input" style="color: red;"></span>
										<span class="input-group-addon">
                                                            <svg class="olymp-month-calendar-icon icon"><use
																		xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
                                                        </span>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group label-floating">
										<label class="control-label">Last Name</label>
										<input name="lastName" class="form-control" placeholder="" type="text"
											   value="{{ user.lastName }}">
									</div>

									<div class="form-group label-floating is-select">
										<label class="control-label">Login</label>
										<input name="login" class="form-control" placeholder="" type="text"
											   value="{{ user.login }}">
									</div>

									<div class="form-group label-floating">
										<label class="control-label">Custom status</label>
										<input name="custom_status" class="form-control" placeholder="" type="text"
											   value="{{ user.status }}">
									</div>


									{#<div class="form-group label-floating is-empty">#}
									{#<label class="control-label">Your Phone Number</label>#}
									{#<input class="form-control" placeholder="" type="text">#}
									{#</div>#}
								</div>

								<div class="col-12 mb-3">
									<div class="google-maps">
										<div id="lat" class="d-none">{{ user.lat_lng.lat }}</div>
										<div id="lng" class="d-none">{{ user.lat_lng.lng }}</div>
										<div id="map_edit" class="map edit-map" style="min-height: 15rem;"></div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group label-floating">
										<label class="control-label">Write some description about you</label>
										<textarea name="description" class="form-control"
												  placeholder="">{{ user.details.description }}</textarea>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

									<div class="form-group label-floating is-select">
										<label class="control-label">Your Gender</label>
										<select name="gender" class="selectpicker form-control">
											<option
													{% if user.gender == 'man' %}selected{% endif %}
													value="man">Male
											</option>
											<option
													{% if user.gender == 'woman' %}selected{% endif %}
													value="woman">Female
											</option>
										</select>
									</div>


									<div class="form-group label-floating is-select">
										<label class="control-label">Sexual preferences</label>
										<select name="sex_preferences" class="selectpicker form-control">
											<option
												{% if user.details.sexual_preferences == 'bi' %}selected{% endif %}
													value="bi">Bi</option>
											<option
												{% if user.details.sexual_preferences == 'male' %}selected{% endif %}
													value="male">Man</option>
											<option
												{% if user.details.sexual_preferences == 'female' %}selected{% endif %}
													value="female">Woman</option>
										</select>
									</div>

								</div>

								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group with-icon label-floating">
										<label class="control-label">Your Facebook Account</label>
										<input name="fb_page" class="form-control" type="text" value="{{ user.details.fb_page }}">
										<i class="fa fa-facebook c-facebook" aria-hidden="true"></i>
									</div>
									<div class="form-group with-icon label-floating">
										<label class="control-label">Your Twitter Account</label>
										<input name="twitter_page" class="form-control" type="text" value="{{ user.details.twitter_page }}">
										<i class="fa fa-twitter c-twitter" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-12 pl-5 pr-5">
									<button class="btn btn-secondary btn-lg full-width">Save all Changes</button>
								</div>

							</div>
						</form>

						<!-- ... end Personal Information Form  -->
					</div>
				</div>
			</div>

			<div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
				<div class="ui-block">


					<!-- Your Profile  -->

					<div class="your-profile">
						<div class="ui-block-title ui-block-title-small">
							<h6 class="title">Your PROFILE</h6>
						</div>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div class="card">
								<div class="card-header" role="tab" id="headingOne">
									<h6 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
										   aria-expanded="true" aria-controls="collapseOne">
											Profile Settings
											<i class="fa fa-arrow-circle-down"></i>
										</a>
									</h6>
								</div>

								<div id="collapseOne" class="collapse show" role="tabpanel"
									 aria-labelledby="headingOne">
									<ul class="your-profile-menu">
										<li>
											<a class="clickable" id="personal_information" href="#">Personal
												Information</a>
										</li>
										<li>
											<a class="clickable" id="change_password" href="#">Change Password</a>
										</li>
										<li>
											<a class="clickable" id="hobbies_interests" href="#">Hobbies and Interests</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="ui-block-title">
							<a href="/notifications" class="h6 title clickable">Notifications</a>
							<a href="/notifications" class="items-round-little bg-primary">{{ num_notifications }}</a>
						</div>
						<div class="ui-block-title">
							<a href="/chat" class="h6 title clickable">Chat / Messages</a>
						</div>
						<div class="ui-block-title">
							<a href="/friends/requests" class="h6 title clickable">Friend Requests</a>
							<a href="#" class="items-round-little bg-blue"
									{% if not num_requests %}
										style="display: none;"
									{% endif %}
							>
								{{ num_requests }}
							</a>
						</div>
					</div>

					<!-- ... end Your Profile  -->


				</div>
			</div>
		</div>
	</div>

	<script src="/js/settings.js"></script>
	<script src="/js/gmaps.js"></script>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqLNucodvPuxX_30MWoh6g1YT6hWnvzS4&callback=init_edit_Map"
			type="text/javascript"></script>

{% endblock %}