<!-- Header-BP -->

<header class="header" id="site-header">
	<div id="notif_user_id" style="display:none;">
		{{user.id}}
	</div>
	<div id="conn_id" style="display:none;">
		
	</div>
	<div class="page-title">
		<h6>{{title}}</h6>
	</div>

	<div class="header-content-wrapper">
		<form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="Search_people" placeholder="Searsch here people or pages..." type="text">
			</div>
		</form>

		<a href="/search" class="link-find-friend">Find Friends</a>

		<div class="control-block">

			<div title="Friend requests">
				<div title="Friend requests" class="control-icon more has-items">
					<a href="/friends/requests" class="control-icon">
						<svg title="Friend requests" class="olymp-happy-face-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
						</svg>

						<div id="friend_req" class="label-avatar bg-blue
								{% if not num_requests %}
									none
								{% endif %}"
						>
							{{ num_requests }}
						</div>
					</a>
				</div>
			</div>

			<div class="control-icon more has-items" title="Messages">
				<a href="/chat" class="control-icon">
					<svg class="olymp-chat---messages-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
					</svg>
					<div id="unreadMess_notif" class="label-avatar bg-purple
					{% if not num_messages %}
						none
					{% endif %}"

					>{{ num_messages }}</div>
				</a>
			</div>

			<div class="control-icon more has-items">
				<a href="/notifications" class="control-icon">
					<svg class="olymp-thunder-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
					</svg>

					<div id="notif_num" class="label-avatar bg-primary 
					{% if not num_notifications %}
							none
						{% endif %}"
					>{{ num_notifications }}</div>
				</a>
			</div>

			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					<img alt="author" src="/img{{ user.img }}" style="width: 45px; height: 45px;" class="avatar">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Your Account</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a href="{{ path_for('user.settings') }}">

										<svg class="olymp-menu-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
										</svg>

										<span>Profile Settings</span>
									</a>
								</li>

								<li>
									<a href="/logout">
										<svg class="olymp-logout-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
										</svg>

										<span>Log Out</span>
									</a>
								</li>
							</ul>

							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Custom Status</h6>
							</div>

							<form class="form-group with-button custom-status">
								<input name="status" class="form-control" placeholder="" type="text"
									   value="{{ user.status }}">

								<button type="button" class="bg-purple" onclick="change_status(this);">
									<svg class="olymp-check-icon">
										<use xlink:href="/svg-icons/sprites/icons.svg#olymp-check-icon"></use>
									</svg>
								</button>
							</form>
						</div>

					</div>
				</div>
				<a href="/" class="author-name fn">
					<div class="author-title" data-id="{{ user.id }}">
						{{ user.login }}
						<svg class="olymp-dropdown-arrow-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
						</svg>
					</div>
					<span class="author-subtitle">{{ user.status }}</span>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

	<div class="header-content-wrapper">
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link"  href="/friends/requests" >
					<div class="control-icon has-items">
						<svg class="olymp-happy-face-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
						</svg>
						<div class="label-avatar bg-blue">{{ num_requests }}</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  href="/chat" >
					<div class="control-icon has-items">
						<svg class="olymp-chat---messages-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
						</svg>
						<div class="label-avatar bg-purple">322</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  href="/notifications" >
					<div class="control-icon has-items">
						<svg class="olymp-thunder-icon">
							<use xlink:href="/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
						</svg>
						<div class="label-avatar bg-primary">{{ num_notifications }}</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#search" role="tab">
					<svg class="olymp-magnifying-glass-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
					</svg>
					<svg class="olymp-close-icon">
						<use xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>


</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>
